html, body{
  height: 100%;
  width: 100%;
}
div#controls {
  padding-top: 12px;
  margin:0 auto;
  text-align:center;
  background-color: #f4ce42;
  height: 100px;
}
/* Start game -- start game*/
div#div0{
  height: 100%;
  width: 100%;
}
#btn:hover{
  background-color: green;
  color: #ccc;
}
#div1{
  background-color: #f4ce42;
  text-align: center;
  height: 100%;
  width: 100%;
}
#A{
   width: 100%;
   height: 100vh;
}
/* Display each turn -- force what users need to drawing */
#div2{
  text-align: center;
  height: 100%;
  width: 100%;
}
#B{
   background-color: #f4ce42;
   width: 100%;
   height: 100vh;
}

#got{
  background-color: green;
  color: white;
}
#got:hover{
  background-color: black;
  color: white;
}
#text-control{
  padding-top: 50px;
}
/* 6 Turns  - show pictures had been drawn*/
#div3{
  text-align: center;
  height: 100%;
  width: 100%;
}
#C{
   background-color: #f4ce42;
   width: 100%;
   height: 100vh;
}
#play-again{
  background-color: green;
  color: white;
}
#play-again:hover{
  background-color: black;
  color: white;
}
/* QUIT GAME -- yes or no*/
#div4{
  text-align: center;
  height: 100%;
  width: 100%;
}
#D{
   background-color: #f4ce42;
   width: 100%;
   height: 100vh;
}
#no{
  background-color: green;
  color: white;
}
#yes{
  background-color: green;
  color: white;
}
#no:hover{
  background-color: black;
  color: white;
}
#yes:hover{
  background-color: black;
  color: white;
}
